p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  background-color: lightgrey;
  padding-top: 67px;
  padding-left: 20px;
  padding-right: 25px;

}