.header {
  margin-top: -4em;
  height: 40px;
  position: fixed;
  
  justify-content: space-between;
  z-index: 100;
}

.left-section {
  background-color: lightgreen;
  display: flex;
  flex: 1;
  width: 300px;

}  

.middle-section {
  background-color: orange;
  display: flex;
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 700px;
  align-items: center;
}


.right-section {
  background-color: lightgrey;
  display: flex;
  flex: 1;
  width: 400px;
  align-items: right;
}

.header img {
  height: 22px;
  width: 22px;
}